body{
    background-color: rgb(13, 72, 150);
    background-image: url('../img/img24.jpg');
     
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
h2{
    color: rgb(23, 180, 151);
    font-family: monospace;
    font-size: 3rem;
}
h1{
    color: rgb(62, 92, 118);
}

.card{
    background-color: rgba(164, 231, 250, 0.655);    
}


.btn-success{
    background-color: rgb(27, 177, 127);
    border:  rgb(27, 177, 127);
}